/* header-hero */

.header-hero .img-logo {
  display: block;
  width: 80px;
  margin: 15px auto;
}

.header-hero .header-search {
  margin: 40px auto;
}

.header-hero .header-search .form-group {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  height: auto;
}

.header-hero .header-search .input-lg,
.header-hero .header-search .btn-lg {
  height: 60px;
  font-size: 22px;

}

.input-lg {
  width: 300px;
}
.header-hero .header-search input.error {
  -webkit-box-shadow: 0 4px 1px -1px #EF2742;
  -moz-box-shadow: 0 4px 1px -1px #EF2742;
  -ms-box-shadow: 0 4px 1px -1px #EF2742;
  -o-box-shadow: 0 4px 1px -1px #EF2742;
  box-shadow: 0 4px 1px -1px #EF2742;
  background-color: #FFEAED;
}

.header-hero .header-search label.error {
  width: 100%;
  margin: 5px 0px;
  color: #ef2742;
  font-size: 16px;
  text-align: left;
}

.header-hero .header-mascots {
  max-width: 600px;
  margin: 30px auto;
}

.header-hero .header-mascots .img-mascot {
  width: 100px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .header-hero {
    padding-bottom: 30px;
  }

  .header-hero .img-logo {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .header-hero .img-logo {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .header-hero .img-logo {
    width: 120px;
  }
}

/* content */

.content-section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.content-section .title {
  margin: 40px auto 20px;
  color: #33d4c0;
}

.content-section.background-primary .title {
  color: #fff;
}

.content-section .img-logo {
  width: 155px;
}

.content-section .sub-title {
  margin-bottom: 80px;
}

.content-section .section-images {
  max-width: 800px;
  margin: 0 auto;
}

.content-section#pl-reasons {
  padding-top: 15px;
  padding-bottom: 40px;
}

.content-section#pl-reasons .reason-headline:first-child {
  margin-top: 0;
}

.content-section#pl-reasons .reason-headline,
.content-section#pl-reasons .reason-description {
  text-align: center;
}

.content-section#pl-reasons .reason-description {
  margin-bottom: 40px;
}

.content-section#pl-reasons .btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

.content-section#pl-what {
  padding-top: 10px;
  padding-bottom: 50px;
}

.content-section#pl-what .sub-title {
  margin-bottom: 40px;
}

.content-section#pl-what .col-xs-2 {
  padding: 0;
}

.content-section#pl-cta {
  padding-top: 20px;
  padding-bottom: 60px;
}


@media (min-width: 1200px) {
  .content-section .img-logo {
    width: auto;
  }

  .content-section#pl-reasons .reasons-container {
    max-width: 992px;
    margin: 0 auto;
  }
}

.heading-1{
  position: relative;
  animation: fade-up 1.5s;
  animation-fill-mode:forwards;
  display: inline-block;
  margin-bottom: 50px;
}

.btn-cta {
  background: white;
  border: 4px solid #FF5A58;
  border-radius: 30px;
  -webkit-box-shadow: none;
  color: #000;
  opacity: 0;
  animation: fade-in 3s 1.75s;
  animation-fill-mode:forwards;

}

@keyframes slide-right{
  0% {
    visibility: visible;
    right: 100%;
  }

  100% {
    right: 0%;
    visibility: visible;
  }
}

@keyframes slide-back {
  0% {
    right: 100%;
    visibility: visible;
  }

  100% {
    right: 0%;
    visibility: visible;
  }
}
@keyframes slide-off{
  0% {
    visibility: visible;
    left: 0%;
  }
  98% {
    left: 200%;
    visibility: hidden;
  }

  99% {
    visibility: hidden;
    left: 0%
  }
  100% {
    visibility: hidden;
    right: 100%;
  }
}

@keyframes fade-in{
  0% {
    opacity: 0;
    visibility: visible;
  }

  100%{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-up{
  0% {
    visibility: hidden;
    opacity: 0;
    top: 20px;

  }

  100% {
    visibility: visible;
    opacity: 1;
    top: 0px;
  }
}


@keyframes fade-down{
  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
    top: 0px;
  }
}

@keyframes underline {
  0%{
    width: 0;
  }
  100%{
    background: #FF5A58;
    width: 65px;
  }
}

@keyframes underline-reveal {
  0%{
    margin-left: 0px;
  }

  100%{
    margin-left: 300px;
  }
}

.info-box {
  position: relative;
  border: 4px solid #FF5A58;
  animation: fade-up 1s;
  animation-fill-mode: forwards;
  padding: 10px;
}
.new-heading {
  position: relative;
  display: inline-block;
  /*visibility: hidden;*/
  animation: fade-up 1s;
  animation-fill-mode: forwards;

}


.underline {
  left: 2px;
  height: 5px;
  width: 0;
  animation: underline 1.25s 1s forwards;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.reveal-container {
  /*width: 100%;*/
  height: 15px;
  position: relative;
  top: -32px;
  width: 300px;;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-3deg);
}
.underline-reveal {
  width: 100%;
  height: 15px;
  background: white;
  /*position: absolute;*/
  /*top: 130px;*/
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-7deg);
  animation: underline-reveal 1.75s 1s forwards;
}

.navbar {
  top: -100px;
  animation: fade-down 1s;
  animation-fill-mode: forwards;
}

.top {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1.5s linear forwards;
}

.right {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1.5s 0.8s linear forwards;
}

.bottom {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1.5s 1s linear forwards;
}

.left {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 1.5s 1.8s linear forwards;
}
@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}
.search-bar, .search-input, .btn-search {
  height: 46px;
}
